In [1]:
# Загружаем библиотеки
import pandas as pd

In [2]:
# Загружаем базу данных
bookings = pd.read_csv('../../homeworks/python_ds_miniprojects/2/bookings.csv', sep=';')
bookings.head(7)

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [3]:
# Приводим названия колонок в удобный для работы формат
bookings.columns = bookings.columns.str.replace(" ","_").str.lower()
bookings.head(7)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [4]:
# Выясняем размеры базы данных
bookings.shape

(119390, 21)

In [5]:
# Какие типы данных есть в таблице
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

In [6]:
# Список названаий всех колонок, для удобства в работе
bookings.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_full_date',
       'arrival_date_year', 'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'stays_total_nights', 'adults', 'children',
       'babies', 'meal', 'country', 'reserved_room_type', 'assigned_room_type',
       'customer_type', 'reservation_status', 'reservation_status_date'],
      dtype='object')

In [7]:
# Топ-5 стран из которых совершено бронирование
bookings.query("is_canceled == 0") \
        .country \
        .value_counts() \
        .head(5)

PRT    21071
GBR     9676
FRA     8481
ESP     6391
DEU     6069
Name: country, dtype: int64

In [8]:
# Средняя длительность бронирования отелей разных типов
bookings.groupby('hotel') \
        .agg({'stays_total_nights': 'mean'}) \
        .round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [9]:
# Количество замен класса номеров
bookings.query("reserved_room_type != assigned_room_type").shape[0]

14917

In [10]:
# За какие годы есть данные в базе
bookings.arrival_date_year.value_counts()

2016    56707
2017    40687
2015    21996
Name: arrival_date_year, dtype: int64

In [11]:
# На какой месяц чаще всего оформляли бронь в 2016 году?
bookings.query("arrival_date_year == 2016") \
        .arrival_date_month \
        .value_counts()

October      6203
May          5478
April        5428
September    5394
June         5292
August       5063
March        4824
July         4572
November     4454
February     3891
December     3860
January      2248
Name: arrival_date_month, dtype: int64

In [12]:
# На какой месяц чаще всего оформляли бронь в 2017 году?
bookings.query("arrival_date_year == 2017") \
        .arrival_date_month \
        .value_counts()

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [13]:
# На какой месяц (arrival_date_month) бронирования отеля типа City Hotel отменялись чаще всего в 2015? 2016? 2017? 
bookings.query("hotel == 'City Hotel' and is_canceled == 1") \
        .groupby('arrival_date_year') \
        .arrival_date_month \
        .value_counts()

arrival_date_year  arrival_date_month
2015               September             1543
                   October               1321
                   August                1232
                   July                   939
                   December               668
                   November               301
2016               October               1947
                   June                  1720
                   September             1567
                   April                 1539
                   May                   1436
                   November              1360
                   August                1247
                   March                 1108
                   December              1072
                   July                  1043
                   February               930
                   January                438
2017               May                   2217
                   April                 1926
                   June                  1808
                   July                  1324
                   March                 1278
                   August                1123
                   January               1044
                   February               971
Name: arrival_date_month, dtype: int64

In [14]:
# Какая из колонок [adults, children, babies] имеет наибольшее среднее значение?
bookings[['adults', 'children', 'babies']].describe()

              adults       children         babies
count  119390.000000  119386.000000  119390.000000
mean        1.856403       0.103890       0.007949
std         0.579261       0.398561       0.097436
min         0.000000       0.000000       0.000000
25%         2.000000       0.000000       0.000000
50%         2.000000       0.000000       0.000000
75%         2.000000       0.000000       0.000000
max        55.000000      10.000000      10.000000

In [15]:
# В отелях какого типа в среднем больше детей?
# Сперва создаем колонку total_kids - в которой вычисляем общее количество детей
bookings['total_kids'] = bookings.children + bookings.babies

# Вычисляем среднее количество детей по типу отеля
bookings.groupby('hotel', as_index=False) \
        .agg({'total_kids': 'mean'}) \
        .round(2) \
        .sort_values('total_kids', ascending=False)

          hotel  total_kids
1  Resort Hotel        0.14
0    City Hotel        0.10

In [16]:
# Как Churn_rate (отток, коэффициент оттока) связан с наличием детей у клиентов
# Сперва создадим колонку has_kid
bookings['has_kid'] = bookings.total_kids > 0

bookings['has_kid']

0         False
1         False
2         False
3         False
4         False
          ...
119385    False
119386    False
119387    False
119388    False
119389    False
Name: has_kid, Length: 119390, dtype: bool

In [21]:
# Churn_rate для посетителей без детей
bookings.query("has_kid == False") \
        .is_canceled \
        .value_counts(normalize=True) \
        .mul(100) \
        .round(2)

0    62.78
1    37.22
Name: is_canceled, dtype: float64

In [22]:
# Churn_rate для посетителей с детьми
bookings.query("has_kid == True") \
        .is_canceled \
        .value_counts(normalize=True) \
        .mul(100) \
        .round(2)

0    65.08
1    34.92
Name: is_canceled, dtype: float64