In [36]:
import pandas as pd

In [37]:
path = '/mnt/HC_Volume_18315164/home-jupyter/jupyter-p-gordejchuk/airflow/dags/a.batalov/vgsales.csv'
login = 'p-gordejchuk'
current_year = int(1994 + hash(f'{login}') % 23)

In [38]:
df = pd.read_csv(path)

In [39]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [41]:
df = df.astype({'Year': 'Int64'})

### 1.  Какая игра была самой продаваемой в этом году во всем мире?

In [42]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [43]:
def get_bestseller_name(df: pd.DataFrame, year: int, region: str='Global_Sales') -> dict:
    """Returns a dictionary with a name of the best selling game in the selected region and year and it's sales."""
    
    year = year
    
    bestseller_name: str = (
        df.query('Year == @year')
        .set_index('Name')
        [region]
        .idxmax()
    )
    
    bestseller_sales: float = (
        df.query('Year == @year')
        [region]
        .max()
    )
    
    return {'name': bestseller_name, 'sales': bestseller_sales}
    
print(get_bestseller_name(df, current_year))

{'name': 'Gran Turismo', 'sales': 10.95}

### 2. Игры какого жанра были самыми продаваемыми в Европе? Перечислить все, если их несколько

In [44]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [45]:
def get_bestseller_genres(df: pd.DataFrame, year: int, region: str='EU_Sales') -> dict:
    """Returns a dictionary with a list of the best selling genres in the selected region and year and their's sales."""
    
    year = year
    
    sales_by_genre: pd.DaraFrame = (
        df.query('Year == @year')
        .groupby('Genre', as_index=False)
        .agg({region: 'sum'})
        .sort_values(by=region, ascending=False)
    )
    
    bestseller_sum: float = sales_by_genre[region].max()
    
    bestseller_genres: list = (
        sales_by_genre
        [sales_by_genre[region] == bestseller_sum]
        .Genre
        .to_list()
    )
    
    return {'genres': bestseller_genres, 'sales': round(bestseller_sum, 2)}
    
print(get_bestseller_genres(df, current_year))

{'genres': ['Racing'], 'sales': 10.82}

### 3. На какой платформе было больше всего игр, которые продались более чем миллионным тиражом в Северной Америке? Перечислить все, если их несколько.

In [46]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [47]:
def get_top_platforms(df: pd.DataFrame, year: int, region: str='NA_Sales', sales_limit: float=1.00) -> dict:
    """
    Returns a dictionary with a list of platform names with the most number of game titles which sales are more
    than a certain monetary limit and a number of these titles.
    """
    
    # Setup filters for the df
    year_filter: pd.DataFrame = df.Year == year
    sales_filter: pd.DataFrame = df[region] >= sales_limit
    
    # Find a platform with the most number of game titles
    games_by_platform: pd.DaraFrame = (df[year_filter & sales_filter]
                                       .groupby('Platform', as_index=False)
                                       .agg({'Name': 'count'})
                                       .sort_values(by='Name', ascending=False))
    
    # Prepare values for the dict
    top_games_number: int = (games_by_platform
                         .head(1)
                         .Name.values[0])
        
    games_number_filter = games_by_platform.Name == top_games_number
    platform_names: list = (games_by_platform[games_number_filter]
                            .Platform
                            .to_list())
        
    return {'platforms': platform_names, 'games_number': games_number}

print(get_top_platforms(df, year=current_year))

NameError: name 'games_number' is not defined

### 4. У какого издателя самые высокие средние продажи в Японии? Перечислить все, если их несколько.

In [48]:
def get_top_publishers(df: pd.DataFrame, year: int, region: str='JP_Sales') -> dict:
    """
    Returns a dictionary with a list of publishers 
    """
    
    # Setup filters for the df
    year_filter: pd.DataFrame = df.Year == year
    
    # Find a platform with the most number of game titles
    mean_sales_by_publisher: pd.DaraFrame = (df[year_filter]
                                            .groupby('Publisher', as_index=False)
                                            .agg({region: 'mean'})
                                            .sort_values(by=region, ascending=False))
    
    # Prepare values for the dict
    top_mean_sales: float = (mean_sales_by_publisher
                         .head(1)
                         [region].values[0])
        
    mean_sales_filter = mean_sales_by_publisher[region] == top_mean_sales
    top_publishers: list = (mean_sales_by_publisher[mean_sales_filter]
                            .Publisher
                            .to_list())
        
    return {'publisherss': top_publishers, 'mean_sales': top_mean_sales}

print(get_top_publishers(df, year=current_year))

{'publisherss': ['Taito'], 'mean_sales': 1.02}

### 5. Сколько игр продались лучше в Европе, чем в Японии?

In [49]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [50]:
def compare_regions(df: pd.DataFrame, year: int, main_region: str='EU_Sales', sub_region='JP_Sales') -> list:
    """Returns a list of games which were sold better in the main region than in subrerion in the selected year."""
    
    # Create an additional column with True/False if sales in the main region better
    comps_df = df.assign(Comps=(df[main_region] > df[sub_region]))
    
    # Filter out False values and return a list
    better_sales: list = (
        comps_df.query('Comps == True')
        .Name.to_list())
    
    return better_sales

print(len(compare_regions(df, current_year)))

9806